@font-face {
    font-family: "MazzardH Regular";
    src: url(../fonts/MazzardH-Regular.otf);
  }
  
  @font-face {
    font-family: "MazzardH Medium";
    src: url(../fonts/MazzardH-Medium.otf);
  }
  
  @font-face {
    font-family: "MazzardH SemiBold";
    src: url(../fonts/MazzardH-SemiBold.otf);
  }
  
  @font-face {
    font-family: "MazzardH Bold";
    src: url(../fonts/MazzardH-Bold.otf);
  }
  
  @font-face {
    font-family: "MazzardH ExtraBold";
    src: url(../fonts/MazzardH-ExtraBold.otf);
  }